version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Calcutta"
    assignees:
      - "mittalyashu"
    commit-message:
      prefix: "npm: "
    open-pull-requests-limit: 10
