.DS_Store
node_modules

dist
logchimp.config.json

# content
content/images/*.png
content/images/*.jpg
content/images/*.jpeg
content/images/*.svg
content/logs/*.log

# Theme
packages/theme/dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*

# tests
coverage

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# theme
packages/theme/.out

# Editor Settings
.vscode/
