.post
	display: flex
	align-items: flex-start
	margin-bottom: 1.25rem

	&::last-child
		margin-bottom: 0

.post-content-link
	text-decoration: none

.post-content-title
	color: $text-black
	margin-bottom: 0

.post-content-description
	margin-top: 0.5rem
	color: $gray-40

.post-category
	margin-top: .625rem
