.post
	padding: 1rem
	display: flex

.post__vote-count
	margin-right: 1rem

.post__content-link
	text-decoration: none

.post__content-title
	margin-bottom: .5rem
	color: #111111
	font-weight: 600

.post__content-bodyMarkdown
	color: #5E5E5E
	font-size: .875rem

.post__category
	margin-top: .75rem
