.dashboard-settings-logo
	margin-bottom: 1rem
	display: flex
	flex-direction: column

	img
		user-select: none
		width: 4rem

.dashboard-settings-color-border
	border-radius: $border-radius
	border: 1px solid $gray-90
	padding: 0.25rem
	height: 100%
	margin-left: 1rem
	margin-top: 4px

.dashboard-settings-color-preview
	min-height: 31px
	min-width: 31px
