/** biome-ignore-all lint/correctness/noUnknownFunction: <explanation> */
@import "tailwindcss";

:root {
  /* fallback brand color */
  --color-brand-color: #484d7c;

  --color-white-light: rgba(255, 255, 255, 0.5);
  --color-white: rgb(255, 255, 255);
  --color-text-black: #1a1a1a;

  --color-gray-40: #666666;
  --color-gray-50: #808080;
  --color-gray-60: #999999;
  --color-gray-70: #b3b3b3;
  --color-gray-80: #cccccc;
  --color-gray-90: #e5e5e5;
  --color-gray-95: #f2f2f2;
  --color-gray-97: #f7f7f7;

  --color-color-danger-light: #f8d9d8;
  --color-color-danger: #de544e;

  --color-yellow-50: #fefce8;
  --color-yellow-400: #facc15;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;

  --color-red-50: #fef2f2;
  --color-red-400: #f87171;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  /* radius */
  --border-radius-default: 0.375rem;

  --border-color-default: theme("colors.neutral.300");
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: var(--color-text-black);
  }

  #app {
    position: relative;
  }

  a {
    text-decoration: none;
    color: var(--color-brand-color);
  }

  svg {
    /*fill: none;*/
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.75rem;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }

  .spinner {
    width: 1.5rem;
    height: 1.5rem;
    animation-name: spinner;
    animation-duration: 1.1s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
