*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-family: "Inter", sans-serif
	-webkit-font-smoothing: antialiased
	font-size: 16px
	color: $text-black

#app
	position: relative

a
	text-decoration: none
	color: $brand-color

.logchimp-poweredby
	display: flex
	justify-content: center
	margin-top: 2rem

	a
		font-size: 0.875rem
		color: $gray-70

.color-dot
	min-width: 0.625rem
	min-height: 0.625rem
	border-radius: 1rem

svg
	fill: none
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round

.logo-placeholder
	width: 2rem
	height: 2rem
	background-color: $gray-97
	border-radius: 3rem
	cursor: pointer
	user-select: none

	img
		width: 100%
