*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-family: "Inter", sans-serif
	-webkit-font-smoothing: antialiased
	font-size: 16px
	color: var(--color-text-black)

#app
	position: relative

a
	text-decoration: none
	color: var(--color-brand-color)

.color-dot
	min-width: 0.625rem
	min-height: 0.625rem
	border-radius: 1rem

svg
	fill: none
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
