.auth-form-header
	margin-bottom: 2rem

.auth-form-logo
	display: flex
	justify-content: center
	margin-bottom: 1rem

.auth-form-logo > .site-name
	color: $text-black

.auth-form-heading
	font-weight: 400
	text-align: center
	margin-bottom: 0

.auth-form-other
	font-size: 0.8rem
	text-align: center
	color: $gray-60
	margin-top: 1.5rem
