.dropdown
	background-color: $white
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08)
	position: absolute
	padding-top: .375rem
	padding-bottom: .375rem
	border: 1px solid #dee5ed
	border-radius: 6px

// dropdown item
.dropdown-item
	padding: .75rem 1rem
	display: flex
	align-items: center
	cursor: pointer

	&:hover
		background-color: rgba($brand-color, .05)

.dropdown-item-content
	color: $brand-color
	font-size: 1rem
	width: 100%

.dropdown-item-icon
	margin-right: .75rem
	display: flex

	svg
		width: 1.125rem
		height: 1.125rem
		stroke: $brand-color
