name: Self Hosted Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  packages: write

env:
  node: 22
  pnpm-version: 10

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name: [ 'logchimp/api', 'logchimp/theme' ]

    steps:
      - uses: actions/checkout@v4

      - name: Variables
        run: |
          service=${{ matrix.name }}
          LATEST_VERSION=$(jq -r '.version'  packages/server/package.json)
          SERVICE_NAME=$(basename "${service//-/-}")
          SERVICE_COMMON_NAME=$(echo "$SERVICE_NAME" | sed 's/-ee$//')
          echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
          echo "SERVICE_NAME=$SERVICE_NAME" >> $GITHUB_ENV
          echo "SERVICE_COMMON_NAME=$SERVICE_COMMON_NAME" >> $GITHUB_ENV
          echo "REGISTRY_OWNER=logchimp" >> $GITHUB_ENV
          echo "This is the service name: $SERVICE_NAME and release version: $LATEST_VERSION"

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.node }}

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10

      - name: Get pnpm store directory
        id: pnpm-cache
        run: echo "PNPM_CACHE_DIR=$(pnpm store path)" >> $GITHUB_ENV

      - name: Cache .pnpm-store
        uses: actions/cache@v4
        with:
          path: ${{ env.PNPM_CACHE_DIR }}
          key: ubuntu-node-v${{ env.node }}-pnpm-v${{ env.pnpm-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ubuntu-node-v${{ env.node }}-pnpm-v${{ env.pnpm-version }}-

      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ env.SERVICE_NAME }} Community Docker Image
        shell: bash
        env:
          DOCKER_BUILD_ARGUMENTS: >
            --cache-from type=registry,ref=ghcr.io/${{ env.REGISTRY_OWNER }}/cache:build-cache-${{ env.SERVICE_NAME }}-community
            --cache-to type=registry,ref=ghcr.io/${{ env.REGISTRY_OWNER }}/cache:build-cache-${{ env.SERVICE_NAME }}-community,mode=max
            --output=type=image,name=ghcr.io/${{ env.REGISTRY_OWNER }}/${{ env.SERVICE_NAME }},push-by-digest=true,name-canonical=true
        run: |
          # change 'api' to 'server'
          SERVICE_COMMON_NAME_LOCAL=$SERVICE_COMMON_NAME
          if [ "$SERVICE_COMMON_NAME_LOCAL" == "api" ]; then
            SERVICE_COMMON_NAME_LOCAL=server
          fi

          docker buildx build \
            --load -f ./packages/$SERVICE_COMMON_NAME_LOCAL/Dockerfile \
            --build-arg LOGCHIMP_VERSION=${{ env.LATEST_VERSION }} \
            -t logchimp-$SERVICE_COMMON_NAME . $DOCKER_BUILD_ARGUMENTS
          docker images

      - name: Tag and Push docker image
        shell: bash
        run: |
          docker tag logchimp-$SERVICE_COMMON_NAME ghcr.io/${{ env.REGISTRY_OWNER }}/${{ matrix.name }}:${{ env.LATEST_VERSION }}
          docker tag logchimp-$SERVICE_COMMON_NAME ghcr.io/${{ env.REGISTRY_OWNER }}/${{ matrix.name }}:latest
          docker push ghcr.io/${{ env.REGISTRY_OWNER }}/${{ matrix.name }}:${{ env.LATEST_VERSION }}
          docker push ghcr.io/${{ env.REGISTRY_OWNER }}/${{ matrix.name }}:latest
