name: Test

on:
  push:
    paths:
      - ".github/workflows/test.yml"
      - "server/**"
      - "tests/**"
      - "package.json"
      - "yarn.lock"
  workflow_dispatch:

jobs:
  cache:
    name: Cache - OS ${{ matrix.os }} - Node v${{ matrix.node }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-18.04, ubuntu-20.04]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install packages
        run: yarn --frozen-lockfile

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-yarn-${{ hashFiles('**/yarn.lock') }}

  unit:
    name: Unit Tests - OS ${{ matrix.os }} - Node v${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    needs: cache

    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-18.04, ubuntu-20.04]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: ./node_modules
          restore-keys: ${{ matrix.os }}-node-v${{ matrix.node }}-yarn-

      - name: Install packages
        run: yarn install

      - name: Install packages
        run: yarn install

      - name: Testing
        run: yarn test:unit

  integration:
    name: Integration Tests - OS ${{ matrix.os }} - Node v${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    needs: cache

    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-18.04, ubuntu-20.04]

    services:
      postgres:
        image: postgres:12.4
        env:
          POSTGRES_DB: ${{ secrets.TEST_DB_NAME }}
          POSTGRES_USER: ${{ secrets.TEST_DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: ./node_modules
          restore-keys: ${{ matrix.os }}-node-v${{ matrix.node }}-yarn-

      - name: Install packages
        run: yarn install

      - name: Create logchimp config file
        run: |
          PG_DATABASE=${{ secrets.TEST_DB_NAME }} \
          PG_HOST="localhost" \
          PG_USER=${{ secrets.TEST_DB_USER }} \
          PG_PASSWORD=${{ secrets.TEST_DB_PASSWORD }} \
          PG_PORT=5432 \
          SECRET_KEY=${{ secrets.TEST_SECRET_KEY }} \
          MAIL_SERVICE="logchimp" \
          MAIL_HOST="smtp.example.com" \
          MAIL_USER="logchimp@example.com" \
          sh ./scripts/create-config.sh

      - name: Run 'server' tests
        run: yarn run test
        env:
          NODE_ENV: "testing"

      - name: Output logs
        if: always()
        run: cat ./content/logs/logchimp-all.log
